{% extends "base.html" %}
{% block title %}
    Order Book
{% endblock title %}
{% block content %}
    <h1 style ='text-align:center'>Bybit Orders Futures</h1>
    <div class="table-responsive">
        <table id="tblOrders"
            class="table mt-2 table-bordered table-striped table-hover table-responsive">
            <thead class="table-dark">
                <tr>
                    <th style="text-align:center;" width="10%">Name</th>
                    <th style="text-align:center;">Type</th>
                    <th style="text-align:center">Price</th>
                    <th style="text-align:center">Pow</th>
                    <th style="text-align:center">Time live</th>
                    <th style="text-align:center">Left Pips</th>
                    <th style="text-align:center">Time Get</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    
            
    <script>
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url : "/get_data_order_book",
                    success: function(response) {
                        
                        $('#tblOrders tbody').empty();
    
                        try{
                            var tr;
                            
                            $.each(response.orders, function (index, order){

                                if (order[1] == 'bids')
                                {
                                    tr = $(`<tr class="table-success">`);
                                } 
                                else
                                {
                                    tr = $(`<tr class="table-danger">`);
                                }
                                tr.append(`<td>${order[0]}</td>`);
                                tr.append(`<td>${order[1]}</td>`);
                                tr.append(`<td>${order[2]}</td>`);
                                tr.append(`<td>${order[3]}</td>`);
                                tr.append(`<td>${order[4]} minute</td>`);
                                tr.append(`<td>${order[5]} %</td>`);
                                tr.append(`<td>${order[6]}</td>`);
                                tr.append(`</tr>`)
                                $('#tblOrders').append(tr); 
                            });

                        }
                        catch(err){
                            console.log(err);
                        }
                    },
                    error : function(response){
                        
                    }
                });
            },3000);
        })
    </script>
{% endblock content %}
