{% extends "base.html" %}
{% block title %}
    Levels
{% endblock title %}
{% block content %}
    
    <h1 style ='text-align:center'>Close Levels Spot</h1>
    <div class="table-responsive">
                <table id="tblCloseLevels_S"
                       class="table mt-2 table-bordered table-striped table-hover table-responsive">
                    <thead class="table-dark">
                        <tr>
                            <th style='text-align:center' width="10%">Binance</th>
                            <th style="text-align:center">Price</th>
                            <th style="text-align:center">Left pips</th>
                            <th style="text-align:center">Price Order S</th>
                            <th style="text-align:center">Pow S</th>
                            <th style="text-align:center">Time Live S</th>
                            <th style="text-align:center">Left Pips Order S</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div> 
                <h1 style ='text-align:center'>Orders Spot</h1>
                <div class="table-responsive">
                <table id="tblOrders_S"
                       class="table mt-2 table-bordered table-striped table-hover table-responsive">
                    <thead class="table-dark">
                        <tr>
                            <th style="text-align:center;" width="10%">Name</th>
                            <th style="text-align:center;">Type</th>
                            <th style="text-align:center">Price</th>
                            <th style="text-align:center">Pow</th>
                            <th style="text-align:center">Time live</th>
                            <th style="text-align:center">Left Pips</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            
    <script>
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url : "/get_data",
                    success: function(response) {
                        
                        $('#tblCloseLevels_S tbody').empty();
                        $('#tblOrders_S tbody').empty();
    
                        try{
                            var tr;
                            $.each(response.close_levels, function (index, level){
                                if (level[3] == 2)
                                {
                                    tr = $(`<tr class="table-success">`);
                                } 
                                else
                                {
                                    tr = $(`<tr class="table-danger">`);
                                }
                                tr.append(`<td>
                                    <p style='font-size:18px' onclick=" window.open('https://www.binance.com/ru/trade/${level[1]}');">${level[1]}</p>
                                </td>`);
                                tr.append(`<td>${level[2]}</td>`);
                                tr.append(`<td>${level[4]} %</td>`);
                                if (level[5] == 0 || level[5] == 100000000000)
                                {
                                    tr.append(`<td>-</td>`);
                                    tr.append(`<td>-</td>`);
                                    tr.append(`<td>-</td>`);
                                    tr.append(`<td>-</td>`);
                                }
                                else
                                {
                                    tr.append(`<td>${level[5]}</td>`);
                                    tr.append(`<td>${level[6]}</td>`);
                                    tr.append(`<td>${level[9]}</td>`);
                                    tr.append(`<td>${level[8]} %</td>`);
                                }
                                
                                
                                
                                tr.append(`</tr>`)
                                $('#tblCloseLevels_S').append(tr); 
                            });

                            $.each(response.orders, function (index, order){
                                if (order[1] == 'bids')
                                {
                                    tr = $(`<tr class="table-success">`);
                                } 
                                else
                                {
                                    tr = $(`<tr class="table-danger">`);
                                }
                                tr.append(`<td>${order[0]}</td>`);
                                tr.append(`<td>${order[1]}</td>`);
                                tr.append(`<td>${order[2]}</td>`);
                                tr.append(`<td>${order[3]}</td>`);
                                tr.append(`<td>${order[4]} minute</td>`);
                                tr.append(`<td>${order[5]} %</td>`);
                                tr.append(`</tr>`)
                                $('#tblOrders_S').append(tr); 
                            });
                            
                            $.each(response.positions, function (index, position){
                                tr = $(`<tr>`);
                                tr.append(`<td>${position[1]}</td>`);
                                tr.append(`<td>${position[2]}</td>`);
                                tr.append(`<td>${position[3]}</td>`);
                                tr.append(`<td>${position[4]}</td>`);
                                tr.append(`<td>${position[5]}</td>`);
                                tr.append(`<td>${position[6]}</td>`);
                                tr.append(`<td>${position[7]}</td>`);
                                tr.append(`<td>${position[10]}</td>`);
                                tr.append(`<td>${position[8]}</td>`);
                                tr.append(`<td>${position[9]}</td>`);
                                tr.append(`</tr>`)
                                $('#tblPositions').append(tr); 
                            });


                        }
                        catch(err){
                            console.log(err);
                        }
                    },
                    error : function(response){
                        
                    }
                });
            },3000);
        })
    </script>
{% endblock content %}
