{% extends "base.html" %}
{% block title %}
    Levels
{% endblock title %}
{% block content %}
    
    <h1 style ='text-align:center'>Close Levels Futures</h1>
    <div class="table-responsive">
        <table id="tblCloseLevels_S"
                class="table mt-2 table-bordered table-striped table-hover table-responsive">
            <thead class="table-dark">
                <tr>
                    <th style='text-align:center' width="10%">Symbol</th>
                    <th style="text-align:center">Level One</th>
                    <th style="text-align:center">Level Two</th>
                    <th style="text-align:center">Left pips</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
            
    <script>
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url : "/get_data",
                    success: function(response) {
                        
                        $('#tblCloseLevels_S tbody').empty();
    
                        try{
                            var tr;
                            $.each(response.close_levels, function (index, level){
                                console.log(level)
                                if (level[1] == 2)
                                {
                                    tr = $(`<tr class="table-success">`);
                                } 
                                else
                                {
                                    tr = $(`<tr class="table-danger">`);
                                }
                                tr.append(`<td><a href="/screener/close_level/${level[0]}/${level[2]}">
                                    ${level[0]}
                                </a></td>`);
                                tr.append(`<td>${level[2]}</td>`);
                                tr.append(`<td>${level[3]}</td>`);
                                tr.append(`<td>${level[4]} %</td>`);
                                
                                
                                tr.append(`</tr>`)
                                $('#tblCloseLevels_S').append(tr); 
                            });
                        }
                        catch(err){
                            console.log(err);
                        }
                    },
                    error : function(response){
                        
                    }
                });
            },3000);
        })
    </script>
{% endblock content %}
