{% extends "base.html" %}
{% block title %}
    Status
{% endblock title %}
{% block content %}
    
    <h1 style ='text-align:center'>Status</h1>
    <div class="table-responsive">
        <table id="tblStatus"
                class="table mt-2 table-bordered table-striped table-hover table-responsive">
            <thead class="table-dark">
                <tr>
                    <th style='text-align:center'>Name</th>
                    <th style="text-align:center">Status</th>
                    <th style="text-align:center">Date Update</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url : "/get_data_status",
                    success: function(response) {
                        
                        $('#tblStatus tbody').empty();
    
                        try{
                            var tr;
                            $.each(response.status_list, function (index, status){
                                if (status[2] == 'active')
                                {
                                    tr = $(`<tr class="table-success">`);
                                } 
                                else
                                {
                                    tr = $(`<tr class="table-danger">`);
                                }
                                tr.append(`<td style="text-align:center;">${status[1]}</td>`);
                                tr.append(`<td style="text-align:center;">${status[2]}</td>`);
                                tr.append(`<td style="text-align:center;">${status[3]}</td>`);
                                
                                
                                tr.append(`</tr>`)
                                $('#tblStatus').append(tr); 
                            });


                        }
                        catch(err){
                            console.log(err);
                        }
                    },
                    error : function(response){
                        
                    }
                });
            },3000);
        })
    </script>
{% endblock content %}
